 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

 /* ==========================================================================
   Global styles 
   ========================================================================== */

 html {
    font-size: 16px; /* base font size : 1rem */
 }

 body{
    font-family: 'Lato', sans-serif;
 }

 a {
    text-decoration: none;
    color: #000;
 }

 /*
    Do not want images to resize when resizing the browser window
    Media queries will handle this
    
 img {
    max-width: 100%;
    height: auto;
 }
 */

.container {
   max-width: 1440px;
   width: 90%;
   margin: auto;
   border:   1px solid #ccc;
   min-height: 100vh;
}

main {
    padding: 2%;  
}

main p {
    font-size: 1.3em;
 }

/* ==========================================================================
   Header 

   => ./components/layout/Header/Header.module.css
   => ./components/layout/Navigation/Navigaiton.module.css
   => ./components/container/LoginForm.jsx
   ========================================================================== */

/* ==========================================================================
   Footer 

   => ./components/layout/Footer/Footer.module.css
   ========================================================================== */

/* ==========================================================================
   Home View

    => ./components/views/Home/Home.module.css
   ========================================================================== */

/* ==========================================================================
   Movies View

   =>  ./components/views/Movies/Movies.module.css
   ========================================================================== */

/* ==========================================================================
   Reviews 

   => ./components/presentational/Reviews/Reviews.module.css
   ========================================================================== */
   
/* ==========================================================================
   StarRating Component 

   => ./components/container/StarRating/StarRating.module.css
   ========================================================================== */

/* ==========================================================================
   ReviewModal Component 

   => ./components/presentational/ReviewModal/ReviewModal.module.css
   ========================================================================== */

